@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

body {
  font-family: "League Spartan", sans-serif;
  font-size: 15px;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}

main {
  padding: 45px 75px 0 75px;
  height: 100%;
  background-image: url("../images/bg-pattern-top-desktop.svg"),
    url("../images/bg-pattern-bottom-desktop.svg");
  background-position: 0% 0%, 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

main > section:nth-child(1) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

section:nth-child(1) > div:nth-child(1) {
  flex: 1 2 320px;
  padding: 0 50px 0 25px;
}

section:nth-child(1) > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  flex: 1 2 auto;
  justify-content: center;
}

section > div > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  border-radius: 15px;
  background-color: hsl(300, 24%, 96%);
  margin: 10px 0;
  padding: 15px 40px;
}

section > div > div:nth-child(1) {
  align-self: baseline;
}

section > div > div:nth-child(2) {
  align-self: center;
}

section > div > div:nth-child(3) {
  align-self: end;
}

h2 {
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: hsl(300, 43%, 22%);
}

section > div > div > div {
  margin-right: 25px;
}

div > div > div > img {
  margin-right: 5px;
}

h1 {
  font-size: 2.8rem;
  font-weight: 700;
  margin: 0 0 30px 0;
  padding: 0;
  color: hsl(300, 43%, 22%);
  width: 70%;
  letter-spacing: -2px;
}

section:nth-child(1) > div:nth-child(1) > p {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
  color: hsl(0, 0%, 50%);
  line-height: 1.2;
}

article {
  flex: 1 2 auto;
  width: 245px;
  border-radius: 10px;
  padding: 25px 60px;
  height: 165px;
  background-color: hsl(300, 43%, 22%);
}

article:not(:last-child) {
  margin-right: 35px;
}

main > section:nth-child(2) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 280px;
  margin-top: 45px;
}

article > div {
  display: flex;
}

article > div > div > img {
  margin-right: 5px;
  border-radius: 50%;
  width: 50%;
  height: 100%;
}

section:nth-child(2) > article:nth-child(1) {
  align-self: baseline;
}

section:nth-child(2) > article:nth-child(2) {
  align-self: center;
}

section:nth-child(2) > article:nth-child(3) {
  align-self: end;
}

article > p {
  line-height: 1.2;
}

article > div > div:nth-child(1) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

h3,
article > p {
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
  width: 112%;
}

article > p {
  padding: 0 0 0 0;
}

span {
  color: hsl(333, 80%, 67%);
}

h3 {
  margin: 5px 0;
}

@media all and (max-width: 1312px) and (min-width: 930px) {
  article:not(:last-child) {
    margin-right: 25px;
  }
  section:nth-child(2) > article:nth-child(3) {
    margin: 25px 25px 0 0;
  }
}

@media all and (max-width: 929px) and (min-width: 376px) {
  section:nth-child(2) > article:nth-child(3) {
    margin: 0px 0px 0px 0px;
  }
  article:not(:last-child) {
    margin-right: 0px;
  }
}

@media all and (max-width: 375px) {
  article {
    margin: 0px 0px 25px 0px;
  }

  h1 {
    width: 100%;
    margin: 100px 0 35px 0;
  }

  section:nth-child(1) > div:nth-child(1) {
    text-align: center;
  }

  section:nth-child(1) > div:nth-child(1) > p {
    width: 100%;
  }

  main {
    padding: 0px 0px 0 0px;
    background-image: url("../images/bg-pattern-top-mobile.svg"),
      url("../images/bg-pattern-bottom-mobile.svg");
  }

  section:nth-child(2) > article:nth-child(1) {
    align-self: center !important;
  }

  section:nth-child(2) > article:nth-child(2) {
    align-self: center !important;
  }

  section:nth-child(2) > article:nth-child(3) {
    align-self: center !important;
  }

  section > div > div {
    flex-direction: column;
  }

  section:nth-child(1) > div:nth-child(2) {
    flex: unset !important;
    justify-content: unset;
    flex-direction: unset;
  }
}
